.contact-root {
    padding-bottom: 5vh;
    margin-top: 5vh;
    background-color: var(--bgcomponent);
    border-radius: 10px;
    color: var(--textcolor);
    margin-bottom: 5vh;
    animation: fade 2s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.MuiInputBase-root{
    color: var(--textcolor) !important;
}
.MuiInput-underline:before{
    border-bottom: 1px solid var(--textcolor)!important;
}
.MuiInput-underline:after{
    border-bottom: 3px solid var(--mainColor)!important;
}
.MuiFormLabel-root{
    color: var(--textcolor) !important;
}
.btn-outline-dark{
    font-weight: bolder;
    color: var(--mainColor);
    border-color: var(--mainColor);
}
.btn-outline-dark:hover{
    background-color: var(--mainColor);
    font-weight: bolder;
    color: var(--textcolor);
    border-color: var(--mainColor);
}