.name-title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1vh;
}

.label {
    font-weight: bolder !important;
}

.time-line-left-component {
    margin-top: 2px;
}

.text-left-component {
    z-index: 2;
    color: var(--textcolor);
}

@media only screen and (max-width: 425px) {
    .type-effect-css {
        position: absolute;
        opacity: 0.5;
        top: -1vh;
        z-index: 1;
    }

    .avt-top {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 101px;
        width: 300px;
        height: 50px;
        border-top: 0 solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 300px solid var(--bgcomponent);
    }

    .avt-bottom {
        /*z-index: 3;*/
        position: absolute;
        left: 0;
        right: 0;
        top: 359px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 50px;
        border-top: 60px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 300px solid var(--bgcomponent);
    }

    .avt-left-component {
        margin-top: 20px;
        width: 300px;
        height: auto;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .time-line-left-component {
        align-content: center;
        margin-top: 5px;
    }

    .name-title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 1vh;
    }

    .text-left-component {
        z-index: 2;
        color: var(--textcolor);
        font-size: 2rem;
    }

    .type-effect-css {
        position: absolute;
        opacity: 0.5;
        top: -1vh;
        z-index: 1;
        font-size: 1.5rem;
    }

    .avt-top {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 150px;
        width: 540px;
        height: 50px;
        border-top: 0 solid transparent;
        border-bottom: 120px solid transparent;
        border-left: 540px solid var(--bgcomponent);
    }

    .avt-bottom {
        /*z-index: 3;*/
        position: absolute;
        left: 0;
        right: 0;
        top: 600px;
        margin-left: auto;
        margin-right: auto;
        width: 540px;
        height: 50px;
        border-top: 120px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 540px solid var(--bgcomponent);
    }

    .avt-left-component {
        margin-top: 20px;
        width: 540px;
        height: auto;
    }

    .label {
        font-weight: bolder !important;
        font-size: 1.3rem;
    }

    .text {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 769px ) and (max-width: 1440px) {
    .type-effect-css {
        position: absolute;
        opacity: 0.5;
        top: -1vh;
        z-index: 1;
    }

    .avt-top {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 73px;
        width: 300px;
        height: 50px;
        border-top: 0 solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 300px solid var(--bgcomponent);
    }

    .avt-bottom {
        /*z-index: 3;*/
        position: absolute;
        left: 0;
        right: 0;
        top: 295px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 50px;
        border-top: 60px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 300px solid var(--bgcomponent);
    }

    .avt-left-component {
        margin-top: 20px;
        width: 300px;
        height: 280px;
    }
}

@media only screen and (min-width: 1441px ) {
    .type-effect-css {
        position: absolute;
        opacity: 0.5;
        top: -1vh;
        z-index: 1;
    }

    .avt-top {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 73px;
        width: 300px;
        height: 50px;
        border-top: 0 solid transparent;
        border-bottom: 60px solid transparent;
        border-left: 300px solid var(--bgcomponent);
    }

    .avt-bottom {
        /*z-index: 3;*/
        position: absolute;
        left: 0;
        right: 0;
        top: 295px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 50px;
        border-top: 60px solid transparent;
        border-bottom: 0 solid transparent;
        border-right: 300px solid var(--bgcomponent);
    }

    .avt-left-component {
        margin-top: 20px;
        width: 300px;
        height: 280px;
    }
}


