.display-righttop {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}

.righttopelement {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    font-size: 4rem;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--mainColor) !important;
    cursor: pointer;
}

.righttopelementtypetext {
    vertical-align: 10px;
    padding: 35px 30px 35px 30px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.righttopelementtypetext:hover {
    vertical-align: 10px;
    padding: 35px 30px 35px 30px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--mainColor);
}

.item-right-top {
    color: var(--bgcomponent);
}