.right-container {
    margin-top: 5vh;
}

/* =============================================css responsive navbar========================================= */
.topnav {
    /*overflow: hidden !important;*/
    border-radius: 10px !important;
    height: 68px;
    font-weight: bold !important;
    background-color: var(--bgcomponent) !important;
}

.topnav-home {
    float: left;
    display: block;
    color: var(--textcolor);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 26px;
    background-color: var(--mainColor);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.topnav-home:hover {
    transition: 0.5s;
    color: var(--textcolor);
    background-color: var(--mainColorHover);
}

.topnav-item {
    float: left;
    display: block;
    color: var(--textcolor);
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
    font-size: 18px;
}

.topnav-item:hover {
    color: var(--mainColor);
}

.icon {
    position: static;
    float: left;
    color: var(--textcolor);
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
    font-size: 18px;
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav-item {
        border-radius: 10px !important;
        display: none;
    }

    .myTopnav.icon {
        float: none;
        left: 0;
        top: 0;
    }

    .icon {
        float: right;
        display: block;
    }

    .responsive-custom.icon {
        position: absolute;
        right: 15px;
        top: 26px;
    }

    .topnav-home {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .responsive-custom.topnav-home {
        float: none !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .responsive-custom {
        display: block;
        float: none;
        text-align: left;
        height: auto !important;
    }
}

/* ==================================== end css responsive navbar =============================================*/