.right-container {
    margin-top: 5vh;
}

/* =============================================css responsive navbar========================================= */
.topnav {
    overflow: hidden !important;
    border-radius: 10px !important;
    height: 68px !important;
    font-weight: bold !important;
    background-color: var(--bgcomponent) !important;
}

.topnav-home {
    float: left;
    display: block;
    color: var(--textcolor);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 26px;
    background-color: var(--mainColor);
}

.topnav-home:hover {
    transition: 0.5s;
    color: var(--textcolor);
    background-color: var(--mainColorHover);
}

.topnav-item {
    float: left;
    display: block;
    color: var(--textcolor);
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
    font-size: 18px;
}

.topnav-item:hover {
    color: var(--mainColor);
}

.icon {
    float: left;
    color: var(--textcolor);
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
    font-size: 18px;
    display: none;
}
.an{
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav-item {
        display: none;
    }

    .icon {
        float: right;
        display: block;
    }
    .responsive-custom{
        display: block;
    }
}

/* ==================================== end css responsive navbar =============================================*/