.flex-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.app-css {
    background: var(--backgroundcolor);
}

.col-lg-nho-1 {
    -ms-flex: 0 0 3.333333%;
    flex: 0 0 3.333333%;
    max-width: 3.333333%;
}

.col-xl-to-7 {
    -ms-flex: 0 0 70.333333%;
    flex: 0 0 70.333333%;
    max-width: 70.333333%;
}

.col-lg-to-7 {
    -ms-flex: 0 0 35.333333%;
    flex: 0 0 35.333333%;
    max-width: 35.333333%;
}

.button-config {
    z-index: 2;
    position: fixed;
    color: var(--backgroundcolor) !important;

    background-color: var(--mainColor) !important;
    right: 0;
    top: 50px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--mainColor);
    cursor: pointer;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}

.animation-config {
    position: absolute;
    top: 20%;
    left: 30%;
    animation: spin 5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}





