.app-css {
    background-color: var(--backgroundcolor) !important;
    z-index: 1;
    width: 100%;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(10) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(10) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@media only screen and (max-height: 625px) {
    .cube {
        z-index: 0;
        position: absolute;
        top: 75%;
        left: 10%;
        width: 10px;
        height: 10px;
        border: solid 1px var(--mainColor);
        transform-origin: top left;
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        -webkit-animation: cube 12s ease-in forwards infinite;
        animation: cube 12s ease-in forwards infinite;
    }

    .cube:nth-child(2n) {
        border-color: var(--mainColor);
    }

    .cube:nth-child(2) {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        left: 3vw;
        top: 3vh;
    }

    .cube:nth-child(3) {
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        left: 50vw;
        top: 15vh;
    }

    .cube:nth-child(4) {
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
        left: 85vw;
        top: 10vh;
    }

    .cube:nth-child(5) {
        -webkit-animation-delay: 8s;
        animation-delay: 8s;
        left: 30vw;
        top: 50vh;
    }

    .cube:nth-child(6) {
        -webkit-animation-delay: 10s;
        animation-delay: 10s;
        left: 85vw;
        top: 50vh;
    }
}

@media only screen and  (max-height: 1250px) and (min-height: 625px) {
    .cube {
        z-index: 0;
        position: absolute;
        top: 115%;
        left: 10%;
        width: 10px;
        height: 10px;
        border: solid 1px var(--mainColor);
        transform-origin: top left;
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        -webkit-animation: cube 12s ease-in forwards infinite;
        animation: cube 12s ease-in forwards infinite;
    }

    .cube:nth-child(2n) {
        border-color: var(--mainColor);
    }

    .cube:nth-child(2) {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        left: 10%;
        top: 20%;
    }

    .cube:nth-child(3) {
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        left: 50%;
        top: 115%;
    }

    .cube:nth-child(4) {
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
        left: 85%;
        top: 100%;
    }

    .cube:nth-child(5) {
        -webkit-animation-delay: 8s;
        animation-delay: 8s;
        left: 30vw;
        top: 50vh;
    }

    .cube:nth-child(6) {
        -webkit-animation-delay: 10s;
        animation-delay: 10s;
        left: 85vw;
        top: 50vh;
    }
}

@media only screen and (max-height: 1875px) and  (min-height: 1250px) {
    .cube {
        z-index: 0;
        position: absolute;
        top: 175vh;
        left: 10vw;
        width: 10px;
        height: 10px;
        border: solid 1px var(--mainColor);
        transform-origin: top left;
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        -webkit-animation: cube 12s ease-in forwards infinite;
        animation: cube 12s ease-in forwards infinite;
    }

    .cube:nth-child(2n) {
        border-color: var(--mainColor);
    }

    .cube:nth-child(2) {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        left: 10vw;
        top: 20vh;
    }

    .cube:nth-child(3) {
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
        left: 50vw;
        top: 195vh;
    }

    .cube:nth-child(4) {
        -webkit-animation-delay: 6s;
        animation-delay: 6s;
        left: 85vw;
        top: 200vh;
    }

    .cube:nth-child(5) {
        -webkit-animation-delay: 8s;
        animation-delay: 8s;
        left: 30vw;
        top: 50vh;
    }

    .cube:nth-child(6) {
        -webkit-animation-delay: 10s;
        animation-delay: 10s;
        left: 85vw;
        top: 50vh;
    }
}

/* ========================================== css background  =========================================== */
.flex-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-config {
    z-index: 2;
    position: fixed;
    color: var(--backgroundcolor) !important;
    background-color: var(--mainColor) !important;
    right: 0;
    top: 50px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--mainColor);
    cursor: pointer;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}

.animation-config {
    position: absolute;
    top: 20%;
    left: 30%;
    animation: spin 5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.left-component {
    background: var(--bgcomponent);
    position: fixed;
    z-index: 1;
    left: 10vw;
    top: 4vh;
    width: 291px;
    min-height: 500px;
    border-radius: 9px;
    color: var(--textcolor);
}

@media only screen and (max-width: 480px) {
    .left-component {
        border-radius: 10px;
        position: absolute;
        z-index: 1;
        top: 12vh;
        width: 300px;
        min-height: 400px;
        background: var(--bgcomponent);
        color: var(--textcolor);
        overflow-x: hidden !important;
    }
}

@media only screen and (max-width: 800px) {
    .left-component {
        border-radius: 10px;
        position: absolute;
        z-index: 1;
        top: 12vh;
        width: 300px;
        min-height: 400px;
        background: var(--bgcomponent);
        color: var(--textcolor);
        overflow-x: hidden !important;
    }
}



